<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let s"> {{s.id}} </td>
    </ng-container>

    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef> full Name </th>
      <td mat-cell *matCellDef="let s"> {{s.fullName}} </td>
    </ng-container>

    <ng-container matColumnDef="dataDiNascita">
      <th mat-header-cell *matHeaderCellDef> data di nascita </th>
      <td mat-cell *matCellDef="let s"> {{s.dataDiNascita}} </td>
    </ng-container>

    <ng-container matColumnDef="cf">
      <th mat-header-cell *matHeaderCellDef> CF </th>
      <td mat-cell *matCellDef="let s"> {{s.cf}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> email </th>
      <td mat-cell *matCellDef="let s"> {{s.email}} </td>
    </ng-container>

    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef> telefono </th>
      <td mat-cell *matCellDef="let s"> {{s.telefono}} </td>
    </ng-container>

    <ng-container matColumnDef="idRegione">
      <th mat-header-cell *matHeaderCellDef> id regione </th>
      <td mat-cell *matCellDef="let s"> {{s.idRegione}} </td>
    </ng-container>

    <ng-container matColumnDef="nomeRegione">
      <th mat-header-cell *matHeaderCellDef> nome regione </th>
      <td mat-cell *matCellDef="let s"> {{s.nomeRegione}} </td>
    </ng-container>

    <ng-container matColumnDef="deleteStudent">
      <th mat-header-cell *matHeaderCellDef> Cancella </th>
      <td mat-cell *matCellDef="let s">
        <a [routerLink]=""><mat-icon (click)="confirmDelete(s.id)">delete</mat-icon></a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>