<nav class='navbar navbar-expand navbar-light bg-light'>
  <a class='navbar-brand'>{{pageTitle}}</a>
  <ul class='nav nav-pills'>
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/student']">Mostra lista studenti</a></li>
    <!-- <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/sign-up-form']">add studente</a></li> -->
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/reactive-form']">Aggiungi uno studente</a></li>
    <!-- <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/form-test']">formTest</a></li> -->
    <!-- <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/calendario']">calendario</a></li> -->
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/course']">Mostra lista corsi</a></li>

  </ul>
</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>
  