<nav class='navbar navbar-expand navbar-dark bg-dark'>
  <a href="#" class='navbar-brand'>{{title}}</a>
  <ul class='nav nav-pills'>
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/student']">Mostra lista studenti</a></li>
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/reactive-form']">Aggiungi uno studente</a></li>
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/course']">Mostra lista corsi</a></li>
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/reactive-form-course']">Aggiungi un corso</a></li>
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/iscrizioni']">Mostra lista iscrizioni</a></li>

  </ul>
</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>
